
* {
  border: 0px solid;
  /*margin: auto;*/
}
   
a {
  border: 0px;
}
 
body {
  background-color: #A9D0F5 !important;
}

h1 {
    font-size: 3em;
    background-color: transparent;
    display: none;
}

h2 {
    display: none;
    font-size: 1.5em;
    background-color: transparent;
}

p {
    display: block;
    height: 100%;
    width: 75%;
    position: relative;
    padding: 30px;
    margin: auto;
    font-family: verdana;
}

nav ul li {
  cursor: pointer;
}

input {
  font-size: 1.5em;
}

img {
  border-radius: 60%;
  padding: 1em 0.7em;
}

.header {
  background: url('DSC01992.JPG');
  height: 400px;
  width: 100%;
  background-position: bottom center;
  background-size: cover;
  padding: 0;
  margin: 0 0 1% 0;
}

.navigation {
  height: auto;
  width: 100%;
  text-align: center;
  position: static;
  margin: 0 0;
  border: 0px solid;
  z-index: 999;
  float: left;
}

.navigation ul {
  padding: 0;
  margin: auto;
}

.navigation li {
  background-color: white;
  justify-content: space-between;
  width: 10%;
  border: 0.1em solid;
  padding: 0.5em 1em;
  color: black;
  display: inline-block;
  font-family: verdana, sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin: 0;
  text-transform: uppercase;
  float: left;
}

.header-text {
  margin: 0 auto; 
  font-family: 'Trebuchet MS', Arial, sans-serif;
  position: relative;
  text-align: center;
  top: 40%;
  width: 75%;
  color: white;
  background-color: transparent;
}

.gameArea {
    /*align-content: center;*/
    border: 1px dashed;
    display: block;
    height: 100%;
    width: 75%;
    position: relative;
    padding: 30px;
    margin: auto;
    font-family: verdana;
}

.hide {
  display: none;
}

#button1 {
  display: block;
  height: 100%;
  position: relative;
  padding: 10px;
  margin: auto;
  font-family: verdana;
  text-align: center;
  width: 15%;
  background: #81BEF7;
  box-shadow: 1px 1px 1px grey;
  border-radius: 10px;
  cursor: pointer;
}

#button1.buttonclicked {
  background: yellow;

}

#buttonBox {
  padding: 1%;
}

#submitBtn {
  display: none;
  height: 100%;
  position: relative;
  padding: 10px;
  margin: auto;
  font-family: verdana;
  text-align: center;
  width: 10%;
  background: #81BEF7;
  box-shadow: 1px 1px 1px grey;
  border-radius: 10px;
  margin-left: 1%;
  margin-top: 1%;
}

#resetBtn {
  display: none;
  height: 100%;
  position: relative;
  padding: 10px;
  margin: auto;
  font-family: verdana;
  text-align: center;
  width: 10%;
  background: #81BEF7;
  box-shadow: 1px 1px 1px grey;
  border-radius: 10px;
  margin-left: 1%;
  margin-top: 1% ;
}

#previousBtn {
  display: none;
  height: 100%;
  position: relative;
  padding: 10px;
  margin: auto;
  font-family: verdana;
  text-align: center;
  width: 10%;
  background: #81BEF7;
  box-shadow: 1px 1px 1px grey;
  border-radius: 10px;
  margin-left: 1%;
  margin-top: 1% ;
}

#nextBtn {
  display: none;
  height: 100%;
  position: relative;
  padding: 10px;
  margin: auto;
  font-family: verdana;
  text-align: center;
  width: 10%;
  background: #81BEF7;
  box-shadow: 1px 1px 1px grey;
  border-radius: 10px;
  margin-left: 1%;
  margin-top: 1% ;
}

#twitter {
  text-align: center;
}

#sloth {
  cursor: pointer;
}

#fox {
  cursor: pointer;
}

#dog {
  cursor: pointer;
}

#cat {
  cursor: pointer;
}

#nameReveal {
  display: none;
}

#nameEntry {
  display: none;
  padding: 1em;
}